/* mobile */
@media (max-width: 46.1875em) {

    /* dùng chung */

    .s-full-width {
        width: 100%;
    }

    .s-col-full {
        width: 100%;
    }

    .s-mt-8 {
        margin-top: 8px;
    }

    .s-mt-16 {
        margin-top: 16px;
    }

    /* ----- */

    #header {
        overflow: hidden;
    }

    #header-search {
        display: none;
    }

    #header-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;

    }

    #nav {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 2px 24px;
    }

    #nav .subnav {
        position: inherit;
        background: #333;
    }

    #nav .subnav a {
        color: white;
    }

    #nav .subnav a {
        padding: 5px 41px;
    }

    #content .member-img {
        border-radius: 4px;
        width: 230px;
    }


}

/* taplet & mobile */

@media (max-width: 63.9375em) {
    .s-l-btn {
        padding: 14px 16px;
    }

    #footer i {
        font-size: 48px;
        margin: 0 8px;
    }
}